[submodule ".registry"]
	path = .registry
	url = https://github.com/rnuske/universe
	shallow = true
	branch = HEAD
[submodule "TreeGrOSSinR"]
	path = TreeGrOSSinR
	url = https://github.com/rnuske/TreeGrOSSinR
	shallow = true
	registered = true
