[submodule ".registry"]
	path = .registry
	url = https://github.com/rnuske/universe
	branch = HEAD
[submodule "TreeGrOSSinR"]
	path = TreeGrOSSinR
	url = https://github.com/rnuske/TreeGrOSSinR
[submodule "apcf"]
	path = apcf
	url = https://github.com/rnuske/apcf
[submodule "et.nwfva"]
	path = et.nwfva
	url = https://github.com/rnuske/et.nwfva
[submodule "komaletter"]
	path = komaletter
	url = https://github.com/rnuske/komaletter
[submodule "vegperiod"]
	path = vegperiod
	url = https://github.com/rnuske/vegperiod
